# Local env variables
.env
.env.local

# Credentials & Tokens
credentials/
token.json

# Python artifacts
__pycache__/
*.py[cod]
.pytest_cache/
data/

# Virtual environments
env/
venv/
.venv/
.conda/

# IDE settings
.idea/
.vscode/
